name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup CUDA
      uses: Jimver/cuda-toolkit@v0.2.29
      with:
        cuda: '12.5.1'
        method: 'network'
        sub-packages: '["nvcc", "libraries-dev"]'
    - name: Install gcc 11
      run: sudo apt update && sudo apt install -y gcc-11 g++-11
    - name: Prepare for testing
      run: cd fatbinary/tests && ./build.sh
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
